body {
    background: grey;
}

canvas {
    border: 1px solid #FF0000;
}

/* Not used
textarea {
    border: thin solid black;
    position: relative;
    left: 5px;
    width: 75%;
    font: 10pt Consolas;
    overflow-x: auto;
    background-color: lightgray;
    color: brown;
}
p {
    text-align: justify;
    width: 90%;
}
*/